/*header-color = #21252B*/
/*body-color = #282C34*/
/*msg-color = #2F333D*/

body{
    margin: 0;
/*    background: #3a3c40;*/
    background: #282C34;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
/*    background: #2a2b30;*/
    background: #21252B;
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg,#C678DD, #61AFEF, #98C379) 20 stretch;
}

.home{
    font-size: 200%;
    text-align: center;
    line-height: 60px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    color: #C678DD;
}
.content{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 60px;
}

.sign_in_or_sign_up{
    position: relative;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -150px;
/*    background: #2a2b30;*/
    background: #21252B;
    border-image: linear-gradient(45deg,#C678DD, #61AFEF, #98C379) 20 stretch;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.button{
    position: inherit;
    width: 150px;
    height: 40px;
    left: 75px;
    background: #61AFEF;
    box-shadow: 0 2px 5px #3a3c40;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

.blink{
    position: relative;
    top: 10px;
    text-decoration: none;
}

.sign_in_or_sign_up p{
    position: relative;
    text-align: center;
    color: white;
    font-size: 100%;
    font-weight: bold;
    top: 10px;
    color: #61AFEF;
    font-family: Verdana, Geneva, sans-serif;
}

form{
/*    background: #2a2b30;*/
    background: #21252B;
    border-image: linear-gradient(45deg, #C678DD, #61AFEF, #98C379) 20 stretch;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.alert{
    display: block;
    position: absolute;
    top: -100px;
    width: 300px;
    height: 80px;
    background: tomato;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    line-height: 80px;
    color: #2a2b30;
}

.sign_in{
    position: relative;
    width: 300px;
    height: 210px;
    left: 50%;
    top: 50%;
    margin: -105px 0 0 -150px;
}

.sign_up{
    position: fixed;
    width: 300px;
    height: 290px;
    left: 50%;
    top: 50%;
    margin: -145px 0 0 -150px;
/*    background: #2a2b30;*/
    background: #21252B;
}

.forgot_password{
    position: relative;
    width: 300px;
    height:140px;
    left: 50%;
    top: 50%;
    margin: -70px 0 0 -150px;
/*    background: #2a2b30;*/
    background: #21252B;
}

.title{
    position: relative;
    left: 50%;
    top: -40px;
    margin: 0 0 0 -75px;
    width: 150px;
    height: 40px;
    background: linear-gradient(45deg,#61AFEF, #98C379);
    text-align: center;
    line-height: 40px;
}

.fitle{
    position: relative;
    left: 50%;
    top: -37px;
    margin: 0 0 0 -115px;
    width: 230px;
    height: 40px;
    background: linear-gradient(45deg,#61AFEF, #98C379);
    text-align: center;
    line-height: 40px;
}

.title p, .fitle p{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;

}

input[type=text],input[type=password],input[type=email]{
    position: relative;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    top: -20px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
    border-image: linear-gradient(45deg,#C678DD, #61AFEF, #98C379) 1 stretch;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    background: #3a3c40;
    text-align: center;
    color: #61AFEF;
}

input[type=text]:focus, input[type=password]:focus{
    border: 2px solid #0487cc;
}

input::placeholder{
    color: #61AFEF;

}

.forgot{
    position: relative;
    top: -30px;
    left: 89px;
    text-align: center;
    text-decoration: none;
    color: #61AFEF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 90%;
}

.ssin{
    position: relative;
    background: linear-gradient(45deg,#C678DD, #61AFEF);
    border: none;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, #98C379;
    color: white;
    margin: 0 0 0 -52.5px;
    margin-top: 10px;
    top: 3px;
    box-shadow: 0 2px 5px #3a3c40;
    font-size: 90%;
}

.ssup{
    position: relative;
/*    background: #0487cc;*/
    background: linear-gradient(45deg,#C678DD, #61AFEF);
    border: none;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    margin: 0 0 0 -52.5px;
    top: -8px;
    left: 42%;
    box-shadow: 0 2px 5px #3a3c40;
    font-size: 90%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
/*    background: #2a2b30;*/
    background: #21252B;
    border-image: linear-gradient(45deg,#C678DD, #61AFEF, #98C379) 20 stretch;
    border-top: 1px solid;
    color: #61AFEF;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
