body{
    margin: 0;
    background: #3a3c40;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background: #2a2b30;
    border-bottom: 1px solid #0487cc;
}

.home{
    font-size: 200%;
    text-align: center;
    line-height: 60px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    color: #0487cc;
}
.content{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 60px;
}

.sign_in_or_sign_up{
    position: relative;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -150px;
    box-shadow: 0px 0px 0px 1px #0487cc;
    background: #2a2b30;
}

.button{
    position: inherit;
    width: 150px;
    height: 40px;
    left: 75px;
    background: #0487cc;
    box-shadow: 0 2px 5px #3a3c40;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

.blink{
    position: relative;
    top: 10px;
    text-decoration: none;
}

.sign_in_or_sign_up p{
    position: relative;
    text-align: center;
    color: white;
    font-size: 100%;
    font-weight: bold;
    top: 10px;
    color: #0487cc;
    font-family: Verdana, Geneva, sans-serif;
}

.sign_in{
    position: relative;
    width: 300px;
    height: 210px;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -150px;
    background: #2a2b30;
    box-shadow: 0px 0px 0px 1px #0487cc;
}

.sign_up{
    position: relative;
    width: 300px;
    height: 290px;
    left: 50%;
    top: 50%;
    margin: -165px 0 0 -150px;
    background: #2a2b30;
    box-shadow: 0px 0px 0px 1px #0487cc;
}

.forgot_password{
    position: relative;
    width: 300px;
    height:140px;
    left: 50%;
    top: 50%;
    margin: -90px 0 0 -150px;
    background: #2a2b30;
    box-shadow: 0px 0px 0px 1px #0487cc;
}

.title{
    position: relative;
    left: 50%;
    top: -20px;
    margin: 0 0 0 -75px;
    width: 150px;
    height: 40px;
    background: #0487cc;
    box-shadow: 0 2px 5px #3a3c40;
    text-align: center;
    line-height: 40px;
}

.fitle{
    position: relative;
    left: 50%;
    top: -20px;
    margin: 0 0 0 -115px;
    width: 230px;
    height: 40px;
    background: #0487cc;
    box-shadow: 0 2px 5px #3a3c40;
    text-align: center;
    line-height: 40px;
}

.title p, .fitle p{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    
}

input[type=text],input[type=password],input[type=email]{
    position: relative;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    font-family: Verdana, Geneva, sans-serif;
    border: 2px solid #0487cc;
    text-align: center;
}

input[type=text]:focus, input[type=password]:focus{
    border: 2px solid #0487cc;
}

.forgot{
    position: relative;
    top: -10px;
    left: 89px;
    text-align: center;
    text-decoration: none;
    color: #0487cc;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 90%;
}

.ssin{
    position: relative;
    background: #0487cc;
    border: none;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    margin: 0 0 0 -52.5px;
    margin-top: 10px;
    top: 20px;
    box-shadow: 0 2px 5px #3a3c40;
    font-size: 90%;
}

.ssup{
    position: relative;
    background: #0487cc;
    border: none;
    width: 150px;
    height: 30px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    margin: 0 0 0 -52.5px;
    margin-top: 10px;
    left: 42%;
    box-shadow: 0 2px 5px #3a3c40;
    font-size: 90%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #2a2b30;
    border-top: 1px solid #0487cc;
    color: #0487cc;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}